

@media screen and (max-width: 680px) {

	#main-nav-left {
		width: 24%;
		min-width:135px;
	}
	#content-nav-right {
		width: 70%;	
	}

}
@media screen and (min-width: 681px) {

	#main-nav-left {
		width: 16%;
		min-width:135px;
	}
	#content-nav-right {
		width: 76%;
	}

}


#myModal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 99999999999; /* Sit on top */
	left: 0;
	top: 0%;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	-webkit-animation-name: fadeIn; /* Fade in the background */
	-webkit-animation-duration: 0.4s;
	animation-name: fadeIn;
	animation-duration: 0.4s
  }
  
  /* Modal Content */
  #myModal .modal-content {
	margin: 15% auto;
    background-color: #fefefe;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
    /* width: 570px;    */
	/* width: 100%; */
	padding: 10px;
	width: 570px;
    max-width: 100%;
  }
  
  /* The Close Button */
  #myModal .close_add_new {
	color: black;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  
  #myModal .close_add_new:hover,
  #myModal .close_add_new:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
  }
#myModal .modal-header {	
	background-color: #fcfcfc;
	border-bottom: 1px solid #ddd;
	
}
#myModal .w3-display-container{
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 1rem 0rem 1rem 1rem;
	border-top: 1px solid #ddd;
}

/* live modal*/

#myModallive {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 99999999999; /* Sit on top */
	left: 0;
	top: 0%;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	-webkit-animation-name: fadeIn; /* Fade in the background */
	-webkit-animation-duration: 0.4s;
	animation-name: fadeIn;
	animation-duration: 0.4s
  }
  
  /* Modal Content */
  #myModallive .modal-content {
	margin: 1% auto;
    background-color: #fefefe;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
    /* width: 570px;    */
	/* width: 100%; */
	padding: 10px;
	width: 570px;
    max-width: 100%;
  }
  
  /* The Close Button */
  #myModallive .close_add_new_live {
	color: black;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  
  #myModallive .close_add_new_live:hover,
  #myModallive .close_add_new_live:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
  }
#myModallive .modal-header {	
	background-color: #fcfcfc;
	border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
	
}
#myModallive .w3-display-container{
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 1rem 0rem 1rem 1rem;
	border-top: 1px solid #ddd;
}
#myModallive .form-control{
    width: 100%;
    line-height: 35px;
    border: 1px solid #555;
}
#myModallive .form-control:focus{
    border: 1px solid #555;
    border-radius: 4px;
}

/* post edit comments*/

#postcomments, #editpostmyModal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 99999999999; /* Sit on top */
	left: 0;
	top: 0%;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	-webkit-animation-name: fadeIn; /* Fade in the background */
	-webkit-animation-duration: 0.4s;
	animation-name: fadeIn;
	animation-duration: 0.4s
  }

#postcomments #postedit-myBtn-submit{
	margin: 12px 0px 12px;
	width: 138px;
}


#editpostmyModal h2 {
	font-size: 18px;
}
#editpostmyModal .modal-content {
	line-height: 13px;
}
#editpostmyModal .close_add_new {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
	cursor: pointer;
}
  
  /* Modal Content */
  #postcomments .modal-content{
	width: 630px !important;
	height: auto;
  }
  #postcomments .modal-content, #editpostmyModal .modal-content{
	margin: 1% auto;
    background-color: #fefefe;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
	width: 630px !important;
	/* width: 100%; */
	padding: 10px;
	width: 570px;
    max-width: 100%;
  }
  
  /* The Close Button */
  #postcomments .close_add_new_live, #editpostmyModal .close_add_new {
	color: black;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  
  #postcomments .close_add_new_live:hover,
  #postcomments .close_add_new_live:focus ,
  #editpostmyModal .close_add_new_live:hover,
  #editpostmyModal .close_add_new_live:hover
  {
	color: #000;
	text-decoration: none;
	cursor: pointer;
  }
#postcomments .modal-header , #editpostmyModal .modal-header{	
	background-color: #fcfcfc;
	border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
	
}
#postcomments .w3-display-container, #editpostmyModal .w3-display-container{
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 1rem 0rem 1rem 1rem;
	border-top: 1px solid #ddd;
}

#lp_field_comments .comment-post-edit-popup{
	height: 32px;
	padding: 0 10px;
	color: #2271b1;
	border: 1px solid #2271b1 !important;
	background: #f6f7f7;
	vertical-align: top;
	display: inline-block;
	text-decoration: none;
	font-size: 13px;
	line-height: 2.15384615;
	margin: 0;
	cursor: pointer;
	border-style: solid;
	-webkit-appearance: none;
	white-space: nowrap;
	box-sizing: border-box;
}
#lp_field_comments #comments{
	display: none !important;
}
/* #myModal .w3-display-right{
	position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(-37%,-50%);
    -ms-transform: translate(-37%,-50%);
} */
/* Add Animation */
@-webkit-keyframes slideIn {
	from {opacity: 0} 
	to {opacity: 1}
  }
  
  @keyframes slideIn {
	from { opacity: 0}
	to { opacity: 1}
  }
  
  @-webkit-keyframes fadeIn {
	from {opacity: 0} 
	to {opacity: 1}
  }
  
  @keyframes fadeIn {
	from {opacity: 0} 
	to {opacity: 1}
  }
#myBtn-submit{
	float: right;
    margin: 10px 0 20px;
}

table.comments-listings {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

table.comments-listings td, table.comments-listings th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

/* table.comments-listings tr:nth-child(even) {
	background-color: #dddddd;
} */
table.comments-listings td i {
    font-size: 19px;
}
table.comments-listings td a.delete {
    color: #E34724;
}
table.comments-listings td a.edit {
    color: #FFC107;
}
table.comments-listings td a {
    cursor: pointer;
    display: inline-block;
    margin: 0 5px;
    min-width: 24px;
}
#wreview{
	margin-top:10px;
	resize: none;
	border: 0px solid #7e8993;
	overflow: auto;
	width: 100%;
}
.btn.save-details{
	padding: 6px 15px;
}
table.comments-listings td a.add {
    display: none;
}
#TB_window{
	width: 900px!important;
}
#TB_ajaxContent{
	width: 850px!important;
}
.comment-input{
	resize: none;
}
table.comments-listings td a.save-btn{
	display: none;
}

.save-yes{
	background-color: #4CAF50;
    border: 1px solid;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	font-size: 16px;
	cursor: pointer;
}
.save-no {
	background-color: #E34724;
    border: 1px solid;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	font-size: 16px;
	cursor: pointer;
}
#loading-image {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 10;
  }
#loader{
	display: none;
	width:200px;
	height: 200px;
	position: fixed;
	top: 50%;
	left: 50%;
	text-align:center;
	margin-left: -50px;
	margin-top: -100px;
	z-index:2;
	overflow: auto;
  }

  div.nsl-container-block .nsl-container-buttons a{
	max-width: 398px!important;
  }  
  input[type=checkbox]:focus, input[type=color]:focus, input[type=date]:focus, input[type=datetime-local]:focus, input[type=datetime]:focus, input[type=email]:focus, input[type=month]:focus, input[type=number]:focus, input[type=password]:focus, input[type=radio]:focus, input[type=search]:focus, input[type=tel]:focus, input[type=text]:focus, input[type=time]:focus, input[type=url]:focus, input[type=week]:focus, select:focus, textarea:focus {
    border-color: transparent;
    box-shadow: 0 0 0 0px transparent;
    outline: 0px solid transparent;
}

  /* @media screen and (min-width:732px){
	#myModal #wreview {
		
	  }  
  } */
  /* .website-checker  {
	display: flex;
    margin: 26px 0 ;
  } */

  .select2-container{
	  width:90%!important
  }



  .w3-modal{
	z-index:3;
	display:none;
	padding-top:100px;
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	overflow:auto;
	background-color:rgb(0,0,0);
	background-color:rgba(0,0,0,0.4)

}

.modal-box {
	display: none;
	position: absolute;
	z-index: 1000;
	width: 98%;
	background: white;
	border-bottom: 1px solid #aaa;
	border-radius: 4px;
	box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
	border: 1px solid rgba(0, 0, 0, 0.1);
	background-clip: padding-box;
}

.modal-box header,
.modal-box .modal-header {
	padding: 1.25em 1.5em;
	border-bottom: 1px solid #ddd;
}

.modal-box header h3,
.modal-box header h4,
.modal-box .modal-header h3,
.modal-box .modal-header h4 {
	margin: 0;
}

.modal-box .modal-body {
	padding: 2em 1.5em;
}

.modal-box footer,
.modal-box .modal-footer {
	padding: 1em;
	border-top: 1px solid #ddd;
	background: rgba(0, 0, 0, 0.02);
	text-align: right;
}

.modal-overlay {
	opacity: 0;
	filter: alpha(opacity=0);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 900;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3) !important;
}

a.close {
	line-height: 1;
	font-size: 1.5em;
	position: absolute;
	top: 5%;
	right: 2%;
	text-decoration: none;
	color: #bbb;
}

a.close:hover {
	color: #222;
	-webkit-transition: color 1s ease;
	-moz-transition: color 1s ease;
	transition: color 1s ease;
}

@media (min-width: 32em) {
	.modal-box {
		width: 70%;
	}
}

.subsubsub a,
.wp-list-table a{
	color: #2271b1;
}

.edited-contactOwner{
	color: #2271b1!important;
	cursor: pointer;
}

.contact-form.quickform input[type="text"]{
background-color: #fafafa;
border: 1px solid #dedede;
border-radius: 5px;
float: left;
padding: 0 15px;
line-height: 36px;
width: 100%;
height: 40px;
font-size: 13px;

}
.contact-form .form-group {
    margin-left: 0;
    margin-right: 0;
	z-index: 0;
}
.form-group{
	position: relative;
}
.form-group span#website7:after {
    content: "\f0ac";
    font-family: FontAwesome;
    font-size: 14px;
    position: absolute;
    right: 12px;
    top: 50%;
    margin-top: -6px;
    color: #b2b2b2;
}
.modal-body .contact-form textarea {
    height: 156px;
    resize: none;
	border-radius: 5px;
	font-size: 13px;
}

.form-group-icon i {
    font-size: 14px;
    position: absolute;
    right: 12px;
    top: 50%;
    margin-top: -7px;
    color: #b2b2b2;
}

.quickform .fa{
	font-family: 'FontAwesome';
}
#gallery_images_upload {
    font-size: 15px;
    color: #2271b1;
    border-color: #2271b1;
    background: #f6f7f7;
    vertical-align: top;
    display: inline-block;
    text-decoration: none;
    line-height: 1.5;
    min-height: 30px;
    margin: 0;
    padding: 0 10px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    -webkit-appearance: none;
    border-radius: 3px;
    white-space: nowrap;
    box-sizing: border-box;
	width: 125px;
}

.contact-form ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.contact-form ul.gallery-thumbs li {
    float: left;
    margin-bottom: 0px;
    margin-top: 10px;
    margin-right: 10px;
    width: auto;
}

.contact-form ul.gallery-thumbs li img {
    max-width: 100%;
    height: auto;
}

#sample-permalink a {
    color: #2271b1!important;
}

#validationTextareaReport{
    resize: none;
	height: auto;
}

/* Bg Color */
#adminmenu #menu-posts-school, #adminmenu #menu-posts-teacher, #adminmenu #menu-posts-retreat, #adminmenu #menu-posts-restaurant, #adminmenu #menu-posts-edited, #adminmenu #menu-posts-edited, #adminmenu #toplevel_page_file_upload{
	background-color: #e6e62fc9;
}
#adminmenu #menu-posts-school:hover, #adminmenu #menu-posts-teacher:hover, #adminmenu #menu-posts-retreat:hover, #adminmenu #menu-posts-restaurant:hover, #adminmenu #menu-posts-edited:hover, #adminmenu #menu-posts-edited:hover, #adminmenu #toplevel_page_file_upload:hover{
	background-color: #1d2327;
}

.swal2-popup{
	width: 35em!important;
}

#csv_export{
    margin-right: 10px;
}

.swal2-header{
	padding: 0 0.5em!important;
}

.autocomplete {
	position: relative;
	display: inline-block;
  }
  
  .autocomplete-items {
	position: absolute;
	border: 1px solid #d4d4d4;
	border-bottom: none;
	border-top: none;
	z-index: 99;
	/*position the autocomplete items to be the same width as the container:*/
	top: 100%;
	left: 0;
	right: 0;
  }
  
  .autocomplete-items div {
	padding: 10px;
	cursor: pointer;
	background-color: #fff; 
	border-bottom: 1px solid #d4d4d4; 
  }
  
  /*when hovering an item:*/
  .autocomplete-items div:hover {
	background-color: #e9e9e9; 
  }
  
  /*when navigating through the items using the arrow keys:*/
  .autocomplete-active {
	background-color: DodgerBlue !important; 
	color: #ffffff; 
  }

  #map{
	height: 300px;
	padding: 0;
	margin: 0;
	width:90%
}

.ui-widget.ui-widget-content{
	z-index: 99999;
}

.input-group {
    margin-bottom: 1em;
    zoom: 1;
	margin-top: 1rem;
}

.col-33{
	float: left;
	width: 32%;
    margin-right: 10px;
}
.w-100{
	width: 100%;
	float: left;
}
#liveedit_listings #update_website7{
	border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    background: #fff;
    padding-left: 5px;
    outline: none;
	width: 100%;
	line-height: 37px;
    border-radius: 5px;
}
#liveedit_listings #update_twitter7{
	border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    background: #fff;
    padding-left: 5px;
    outline: none;
	width: 100%;
	line-height: 37px;
    border-radius: 5px;
}
#liveedit_listings #update_facebook7{
	border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    background: #fff;
    padding-left: 5px;
    outline: none;
	width: 100%;
	line-height: 37px;
    border-radius: 5px;
}
#liveedit_listings #update_linkedin7{
	border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    background: #fff;
    padding-left: 5px;
    outline: none;
	width: 100%;
	line-height: 37px;
    border-radius: 5px;
}
#liveedit_listings #update_instagram7{
	border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    background: #fff;
    padding-left: 5px;
    outline: none;
	width: 100%;
	line-height: 37px;
    border-radius: 5px;
}
#liveedit_listings #update_youtube7{
	border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    background: #fff;
    padding-left: 5px;
    outline: none;
	width: 100%;
	line-height: 37px;
    border-radius: 5px;
}
#liveedit_listings #update_pinterest7{
	border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    background: #fff;
    padding-left: 5px;
    outline: none;
	width: 100%;
	line-height: 37px;
    border-radius: 5px;
}

.restricted-username textarea{
	width: 100%;
	margin-top: 10px;
	resize: none;
}

#gAddress:focus{
	border: 1px solid #555;
}

#lp_field_gAddress .errorMsg{
	padding: 5px 0;
    color: red;
}


